.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.text__scroll_left {
  left: 0;
  animation: movingText linear;
  animation-timeline: scroll();
  @media screen and (max-width: 980px) {
    animation: none;
  }
}
.text__scroll_right {
  right: 0;
  animation: movingText2 linear;
  animation-timeline: scroll();
  @media screen and (max-width: 980px) {
    animation: none;
  }
}

@keyframes movingText {
  0% {
    transform: translateX(-20%);
  }
  14% {
    transform: translateX(0);
  }
}
@keyframes movingText2 {
  0% {
    transform: translateX(20%);
  }
  14% {
    transform: translateX(0);
  }
}

.black__span {
  color: black !important;
}

.app__profile-item {
  width: 260px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;

  img {
    width: 100%;
    height: 240px;
    border-radius: 15px;
    object-fit: cover;
  }

  @media screen and (min-width: 1280px) {
    width: 270px;
    margin: 2rem 4rem;

    img {
      height: 260px;
    }
  }

  @media screen and (min-width: 1920px) {
    width: 400px;
    margin: 2rem 4rem;

    img {
      height: 320px;
    }
  }
}
