.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.text__scroll_left {
  left: 0;
  animation: movingText linear;
  animation-timeline: scroll();
  @media screen and (max-width: 980px) {
    animation: none;
    font-size: smaller;
  }
}
.text__scroll_right {
  right: 0;
  animation: movingText2 linear;
  animation-timeline: scroll();
  @media screen and (max-width: 980px) {
    animation: none;
    font-size: smaller;
  }
}

// @keyframes movingText {
//   5% {
//     transform: translateX(-20%);
//   }
//   16% {
//     transform: translateX(0);
//   }
// }
// @keyframes movingText2 {
//   5% {
//     transform: translateX(20%);
//   }
//   16% {
//     transform: translateX(0);
//   }
// }
@keyframes movingText {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20%);
  }
}

@keyframes movingText2 {
  0% {
    transform: translateX(20%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}
.black__span {
  color: black !important;
}

.app__profile-item {
  width: 100%;
  display: flex;
  // max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;
  img {
    width: 80%;
    height: 65%;
    border-radius: 15px;
    object-fit: cover;
  }
  p {
    text-align: justify;
  }

  @media screen and (min-width: 1920px) {
    width: 30%;

    img {
      width: 80%;
      height: 50%;
      border-radius: 15px;
      object-fit: cover;
    }
    p {
      font-size: 1.75rem;
    }
  }
  @media screen and (max-width: 1920px) {
    width: 25%;

    p {
      font-size: 1.2rem;
    }
    img {
      width: 100%;
      height: 30%;
      border-radius: 15px;
      object-fit: cover;
    }
  }
  @media screen and (max-width: 1720px) {
    width: 27%;
    max-width: 100%;
    img {
      width: 100%;
      height: 80%;
      border-radius: 15px;
      object-fit: cover;
    }
    p {
      font-size: 1.25rem;
    }
  }
  @media screen and (max-width: 1550px) {
    width: 30%;
    max-width: 100%;
    img {
      width: 100%;
      height: 80%;
      border-radius: 15px;
      object-fit: cover;
    }
    p {
      font-size: 1.1rem;
    }
  }
  @media screen and (max-width: 1280px) {
    width: 35%;
    max-width: 100%;
    img {
      width: 100%;
      height: 80%;
      border-radius: 15px;
      object-fit: cover;
    }
    p {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 1100px) {
    width: 35%;
    max-width: 100%;
    img {
      width: 100%;
      height: 80%;
      border-radius: 15px;
      object-fit: cover;
    }
    p {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 920px) {
    width: 35%;
    max-width: 100%;
    img {
      width: 100%;
      height: 80%;
      border-radius: 15px;
      object-fit: cover;
    }
    p {
      font-size: 0.75rem;
    }
  }
  @media screen and (max-width: 720px) {
    width: 35%;
    max-width: 100%;
    img {
      width: 100%;
      height: 80%;
      border-radius: 15px;
      object-fit: cover;
    }
    h2 {
      font-size: small;
    }
    p {
      font-size: 0.65rem;
    }
  }
  @media screen and (max-width: 500px) {
    width: 100%;
    img {
      width: 100%;
      height: 50%;
      border-radius: 15px;
      object-fit: cover;
    }
    p {
      font-size: 0.75rem;
    }
  }

  // @media screen and (min-width: 1280px) {
  //   width: 310px;
  //   margin: 2rem 4rem;

  //   img {
  //     height: 260px;
  //   }
  //   p {
  //     text-align: start;
  //   }
  // }

  // @media screen and (min-width: 1920px) {
  //   width: 400px;
  //   margin: 2rem 4rem;

  //   img {
  //     height: 320px;
  //   }
  // }
}
.box__container .shadow__1 {
  box-shadow: -15px -15px 15px rgba(45, 45, 45, 0.297),
    15px 15px 15px rgba(0, 0, 0, 0.211);
}
.box__container .shadow__2 {
  box-shadow: inset 4px 4px 5px rgb(255, 255, 255, 0.2),
    inset -4px -4px 5px rgb(0, 0, 0, 0.1), 10px 40px 40px rgb(0, 0, 0, 0.1);
}
