.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
}
.banner {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5rem;
  align-self: center;
  top: 0;

  z-index: 1;
  padding: 0rem 1rem;
  left: 0;
}
.text__banner {
  
  display: flex;
  width: max-content;
  margin-top: 0.5rem;
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  // backdrop-filter: blur(4px);
  // -webkit-backdrop-filter: blur(4px);
  // border: 1px solid rgba(255, 255, 255, 0.18);
  height: 100%;

  font-family: "Georgia, serif";
  font-size: "16px";

  p {
    color: #6b768840;
    font-family: Georgia, serif;
    font-size: 2px;
    letter-spacing: 10px;
    word-spacing: 18rem;
    font-weight: normal;
    align-self: flex-end;
    @media screen and (max-width: 1920px) {
      font-size: 26px;
      word-spacing: 15rem;
    }
    @media screen and (max-width: 1520px) {
      font-size: 23px;
      word-spacing: 0rem;
    }
    @media screen and (max-width: 1280px) {
      font-size: 20px;
      word-spacing: 10rem;
    }
    @media screen and (max-width: 980px) {
      font-size: 17px;
      word-spacing: 7rem;
    }
    @media screen and (max-width: 720px) {
      font-size: 14px;
      word-spacing: 3rem;
    }
    @media screen and (max-width: 500px) {
      font-size: 12px;
      word-spacing: 0rem;
    }
  }
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 180px;
    height: auto;

    @media screen and (min-width: 1920px) {
      width: 280px;
      height: auto;
    }
  }

  p {
    margin-left: 1rem;
  }
}
.nav__menu_container {
  margin-top: 5rem;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;

    div {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;

      margin-bottom: 5px;
    }

    a {
      color: var(--gray-color);
      text-decoration: none;
      flex-direction: row;

      text-transform: uppercase;
      font-weight: 500;

      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }

    &:hover {
      div {
        background: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  z-index: 25;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-color);

  svg {
    width: 1rem;
    height: auto;
    min-width: 20px;
    color: var(--primary-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 125;
    padding: 0rem;
    width: 60%;
    height: 100vh;
    border-bottom-left-radius: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background: url("../../assets/bgWhite.png");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;

    /* top box shadow */
    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.85);

    svg {
      width: 35px;
      height: 35px;
      color: var(--black-color);
      margin: 0.5rem 1rem;
      margin-top: 1.5rem;
      z-index: 25;
      background-color: rgba(240, 255, 255, 0.712);
      border-radius: 50%;
    }

    ul {
      list-style: none;
      margin-top: 3.5rem;
      padding: 0;
      height: fit-content;
      width: 100%;
      z-index: 125;
      display: flex;

      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      li {
        width: 50%;
        z-index: 125;
        background-color: #ffffffd5;
        margin: 0.7rem;
        margin-left: 0;
        padding: 0.5rem;
        border-radius: 15px;
        justify-content: center;
        text-align: center;
        a {
          justify-content: center;
          color: var(--black-color);
          text-decoration: none;
          font-size: 0.95rem;
          text-transform: uppercase;
          font-weight: 500;
          margin-bottom: 0rem;
          padding: 0.3rem;
          z-index: 125;
          border-radius: 5px;
          text-align: center;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color);
            background-color: rgb(188, 255, 255);
            font-size: 1.5rem;
          }
        }
      }
      @media screen and (min-width: 450px) {
        display: flex;
        flex-wrap: wrap;
        height: 50vh;
        width: 100%;
        li {
          display: flex;
          width: fit-content;
          z-index: 125;
          background-color: #ffffffd5;
          margin: 0.7rem;
          margin-left: 0;
          padding: 0.5rem;
          padding-inline: 0.75rem;
          border-radius: 15px;
          justify-content: center;
          text-align: center;
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}

.icon__container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.icon {
  width: 15px;
  height: auto;
  margin-left: 5px;
  vertical-align: middle; /* Add this line to align the image vertically */
}

.icon__container span {
  display: inline-block; /* Ensure the span element is inline-block */
}


.HiX {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 20px;
  color: azure;
}

.box__container .shadow__1 {
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.1),
    10px 10px 10px rgb(0, 0, 0, 0.1),
    inset -10px -10px 10px rgb(255, 255, 255, 0.2),
    inset 10px 10px 15px rgb(0, 0, 0, 0.1);
}
