#home {
  position: relative;
  background: url("../../assets/bgIMG.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

  // disable the default padding styles
  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;

  padding: 6rem 2rem 0rem;

  @media screen and (min-width: 1920px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1280px) {
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}

.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  margin: 0 2rem;

  @media screen and (max-width: 1280px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  .logo__container {
    width: 6rem;
    margin: 0;
  }

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    background: var(--white-color);
    border-radius: 15px;
    flex-direction: row;
    width: auto;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 3rem;

    p {
      width: 100%;
      text-transform: capitalize;
      text-align: left;
    }
  }

  span {
    font-size: 2.5rem;

    @media screen and (min-width: 1920px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1280px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1rem;
  z-index: 10;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 10;

    background: var(--white-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    img {
      width: 60%;
      height: 60%;
    }
  }

  // circles with different height & width

  div:nth-child(1) {
    width: 100px;
    height: 100px;
    z-index: 10;
  }

  div:nth-child(2) {
    margin: 1.75rem;
    width: 150px;
    height: 150px;
    z-index: 10;
  }

  div:nth-child(3) {
    width: 70px;
    height: 70px;
    z-index: 10;
  }

  @media screen and (min-width: 1920px) {
    div:nth-child(2) {
      width: 400px;
      height: 400px;
      z-index: 10;
    }

    div:nth-child(3) {
      width: 170px;
      height: 170px;
      z-index: 10;
    }

    div:nth-child(1) {
      width: 200px;
      height: 200px;
      z-index: 10;
    }
  }

  @media screen and (max-width: 1280px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    z-index: 10;

    div {
      margin: 1rem;
      z-index: 10;
    }
  }
}
.image-container {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin: 20px;
  box-shadow: 1 15px 15px 15px rgba(142, 0, 142, 0.5);
  animation: imageAnimate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

.app__header-img {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  img {
    width: 100%;
    object-fit: contain;
    z-index: 1;
    border: 1rem;
  }

  .overlay_circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    width: 100%;
    height: 80%;
    animation: imageAnimate 5s ease-in-out infinite;
    transition: all 3s ease-in-out;
    @media screen and (max-width: 980px) {
      width: 80%;
      height: 65%;
      margin-bottom: 6rem;
      margin-left: 2rem;
      align-self: center;
    }
    @media screen and (min-width: 1920px) {
      animation: imageAnimate2 5s ease-in-out infinite;
      transition: all 3s ease-in-out;
    }
  }
  @keyframes imageAnimate {
    0%,
    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      rotate: 0deg;
    }
    25%,
    75% {
      border-radius: 50% 50% 50% 55% / 55% 45% 55% 60%;
      rotate: 22.5deg;
    }
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
      rotate: 45deg;
    }
  }

  @keyframes imageAnimate2 {
    0%,
    100% {
      border-radius: 80% 60% 50% 90% / 80% 50% 90% 60%;
      rotate: 0deg;
    }
    25%,
    75% {
      border-radius: 70% 70% 70% 75% / 75% 65% 65% 80%;
      rotate: 22.5deg;
    }
    50% {
      border-radius: 50% 60% 70% 60% / 70% 60% 30% 60%;
      rotate: 45deg;
    }
  }

  .blur__effect {
    display: flex;
    position: absolute;
    width: 100%;
    height: 1rem;
    margin-bottom: -10px;
    backdrop-filter: blur(3px);
    z-index: 5;
  }

  @media screen and (max-width: 1280px) {
    margin: 2rem 0;
  }
}
